.container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 5px 0;
}

.filterButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.filterIcon {
  color: black;
  transition: color 0.3s ease;
  font-size: 20px;
}

.filterButton:hover .filterIcon {
  color: #1D334A;
}

.filterPanel {
  position: absolute;
  top: 100%; /* Располагаем под элементами управления */
  left: 0;
  background: white;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  width: 100%;
  margin-top: 5px;
}