.filterButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.filterIcon {
    color: var(--icon-color);
    transition: color 0.3s ease;
    font-size: 20px;
}

.filterButton:hover .filterIcon {
    color: var(--icon-hover);
}

.filterPanel {
    position: absolute;
    right: 4%;
    background: var(--bg-primary);
    border: 1px solid var(--border);
    border-radius: 5px;
    padding: 8px;
    z-index: 2000; /* Higher than Gantt chart */
    box-shadow: var(--shadow);
    width: 200px; /* Smaller width */
    user-select: none; /* Prevent text selection while dragging */
}

.filterPanel label, .filterPanel select {
    color: var(--text-primary);
    font-size: 14px; /* Smaller font size */
}

.filterPanel select {
    padding: 4px; /* Adjust padding for smaller select */
}