.password-wrapper {
    position: relative;
    display: flex;
}

.password-toggle {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-43%);
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    padding: 5px;
    font-size: 17px;
}

.password-toggle:hover {
    color: #ffffff;
    background-color: black;
}