.spinner {
    margin: 0 20px; /* Отступ между кнопками и индикатором */
    margin-top: 35px;
    color: #1D334A; /* Цвет индикатора */
    animation: spin 1s linear infinite; /* Ваша анимация вращения */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}