.teams-table {
  margin: 40px 40px; /* Отступы по краям */
  padding: 20px; /* Внутренние отступы */
  background-color: #ffffff; /* Цвет фона таблицы */
  border: 2px solid #1D334A; /* Цвет и стиль границы */
  border-radius: 8px; /* Закругление углов */
}

table {
  width: 100%; /* Ширина таблицы */
  border-collapse: collapse; /* Убираем промежутки между ячейками */
  margin-top: 20px; /* Отступ сверху */
}

th, td {
  padding: 12px 20px; /* Отступы в ячейках */
  text-align: left; /* Выравнивание текста в ячейках */
  font-size: 16px; /* Размер шрифта */
  color: #0E294B; /* Цвет текста */
  border-bottom: 1px solid #ddd; /* Граница снизу для ячеек */
  transition: background-color 0.5s ease, color 0.5s ease; /* Плавный переход для фона и цвета текста */
}

th {
  background-color: #1D334A; /* Цвет фона для заголовков */
  color: #F8F8FF; /* Цвет текста заголовков */
  font-size: 18px; /* Размер шрифта заголовков */
}

tr:hover {
  background-color: #FFD700;
  transition: background-color 0.5s ease;
}

td {
  background-color: #fff;
  transition: background-color 0.5s ease;
}

.team-row:hover td {
  background-color: #FFD700;
  color: #000000;
}

ul {
  padding-left: 20px;
  list-style-type: none;
  margin-top: 5px;
}

li {
  font-size: 16px;
  color: #555;
  margin-bottom: 5px;
  border-bottom: 2px solid #1D334A;
  transition: background-color 0.5s ease;
}

li:hover {
  background-color: #FFD700;
}

.team-divider {
  border-top: 3px solid #1D334A;
  margin: 10px 0;
  transition: border-top 0.5s ease;
}

.team-divider + tr {
  border-top: 1px solid #1D334A;
}

.project-row:hover td {
  background-color: #FFD700;
  color: #000000;
}

.project-divider {
  border-top: 3px solid #1D334A;
  margin: 10px 0;
}

.team-section {
  margin-bottom: 20px;
}

.team-header {
  font-size: 1.2em;
  padding: 5px;
  background-color: #1D334A;
  color: #fff;
  border-radius: 4px;
}

.team-projects {
  padding-top: 10px;
}

.teams-table .document-list {
  padding: 10px;
}

.teams-table .document-item {
  margin: 5px 0;
}