  .TitleType {
    color: #1D334A;
    font-size: 28px;
    margin-bottom: 20px;
  }

  .LabelType {
    font-size: 16px;
    color: #1D334A;
  }

  .InputType {
    width: 100%;
    margin: 8px 0;
    height: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    position: relative;
  }

  .saveButton,
  .delButton,
  .editButton {
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    flex-grow: 1;
    text-align: center;
    max-width: auto;
  }

  .saveButton {
    margin-right: auto;
  }

  .editButton {
    margin: 0 15px;
  }

  .delButton {
    margin-left: auto;
  }

  .saveButton:hover,
  .delButton:hover,
  .editButton:hover {
    background-color: black;
    color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }